header {
    display: flex;
    border: 2px solid powderblue;
  }
  
        body {background-color: rgb(0, 0, 0);}
        p    {color: rgb(22, 20, 20);}
        h1   {color: #aa6516;}
  body {
    background-image: url('m.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }
  h1 {
  
  padding: 30px;
  }
  p {
  
  padding: 30px;
  }
  .city {
  background-color: #20201f;
  color: white;
  padding: 10px;
  }
  #myHeader {
  background-color: rgb(73, 38, 155);
  color: rgb(241, 239, 239);
  padding: 40px;
  text-align: center;
  }
  div{
    background-color: #20201f;
  color: rgb(7, 7, 7);
  padding: 10px;
  }